@mixin large{
    @media (min-width:992px){
        @content;
    }
}
.nav-logo{
    width: 64px;
    height: 53px;
    @include large{
        width: 136px;
        height: 80px;
    }
}
.nav-bottom-line{
    border-bottom: 1px solid rgba($black, 0.2);
        @include large{
            border: 0px;
        }
}

.nav-shadow{
    @include large{
    box-shadow: 1px 1px 50px 0px rgba($primary-300,0.12);

    }
}

.dropdown-center .dropdown-menu {
    background-color: rgba($white, 0.8);
        @include large{
            left: 50% ;
            transform: translateX(-50%) ;
            right: auto ;
        }
}


.dropdown-top-line{
    border-top: 1px solid rgba($black, 0.2);
        @include large{
            border: 0;
        }

}

// 選單固定在上效果
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  .header-nav {
    max-width: 1224px;
    margin: 0 auto;
  }
}