// header
.header {
    background-color: black;
}

// index-navbar
.index-navbar {
    top: 0;
    right: 0;
    left: 0;
    @media (min-width: 1320px) {
        & {
            width: 1296px;
            top: 48px;
            left: calc(50% - 648px);
        }
    }
}

// swiper
.header-swiper {
    & picture {
        opacity: .7;
    }
    .swiper-pagination {
        bottom: 44px;
        @media (min-width: 960px) {
            & {
                bottom: 108px;
            }
        }
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: $white;
        opacity: .5;
        @media (min-width: 960px) {
            & {
                width: 12px;
                height: 12px;
            }
        }
        &.swiper-pagination-bullet-active {
            background-color: $white;
            opacity: 1;
        }
    }
    .header-sloganSearch {
        position: absolute;
        z-index: 1;
        top: 185px;
        left: 12px;
        @media (min-width: 960px) {
            & {
                top: 440px;
                left: calc(50% - 648px);
            }
        }

    }
}

// decorate
.decorate {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    background: transparent url('/assets/images/index/index-mobile-Wave-1.png') repeat-x center center / cover;
    @media (min-width: 540px) {
        background-image: url('/assets/images/index/index-Wave-1.png');
        height: 60px;
    }
}

// indexSection-title
.indexSection-title {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 100%;
        background-color: $primary-400;
        border-radius: 100px;
        @media (min-width: 960px) {
            & {
                width: 10px;
            }
        }
    }
}

// swiper2
.swiper2 {
    max-width: 1290px;
    .card {
        width: 100%;
    }
}