// header
.header {
    @media (min-width: 960px) {
        & {
            position: relative;
            z-index: 1;
        }
    }
}

// index-navbar
.index-navbar {
    @media (min-width: 960px) {
        & {
            position: absolute;
            z-index: 2;
            width: 1296px;
            top: 48px;
            left: calc(50% - 648px);
        }
    }
}